/* Global Styles - Apply to the body */
body {
  background-color: #6c2689; 
  color: #ecf0f1; 
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; 
}

/* Search Bar */
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2980b9; 
  border-radius: 5px;
  background-color: #f39c12;
  color: #34495e; 
}

input[type="text"]::placeholder {
  color: #7f8c8d; 
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  
  input[type="text"] {
    font-size: 14px;
    padding: 8px;
  }
}
