@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0712; /* Dark background color for the body */
  color: #ecf0f1; /* Light text for contrast */
  margin: 0;
  padding: 0;
}
